[submodule "miniprojects/mp-4"]
	path = miniprojects/mp-4
	url = https://github.com/ZhanboYang710/mp4
[submodule "miniprojects/mp-5"]
	path = miniprojects/mp-5
	url = https://github.com/ZhanboYang710/mp5
[submodule "miniprojects/mp-1"]
	path = miniprojects/mp-1
	url = https://github.com/ZhanboYang710/mp1
[submodule "miniprojects/mp-2/mp2"]
	path = miniprojects/mp-2/mp2
	url = https://github.com/ZhanboYang710/mp2
